body{
    display: flex;
    /* text-align: justify; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.intro{
    background-color: rgb(248, 180, 120);
    width: 400px;
    min-height: 1000px;
    margin-left: 10px;
    margin-right: 8px;
    padding: 8px;
}
img{
    text-align: center;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}
i{
    padding: 5px;
    margin: 5px;
}
h2{
    margin-top: 16px;
    margin-bottom: 16px;
}
.education ul{
    list-style-type:none;
    padding: 0px;
}
.content{
    width: 400px;
    min-height:1000px;
    margin: 5px 5px 5px 10px;
    padding: 10px;
}
.your-cont{
    margin-bottom: 60px;
}
.name{
    font-size: 70px;
}
.soft{
    font-size: 25px;
}
.right-head{
    font-size: 25px;
    border-bottom:  3px solid black;
}
.skills ul{
     padding-left: 20px;
}
.project{
    padding: 5px;
}
.interests ul{
    padding-left: 0px;
    list-style-type: none;
}
